/*=====[[ BASE ]]=====*/

body {
    margin: 0;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

/*=====[[ LAYOUT ]]=====*/

/*=====[[ TYPOGRAPHY ]]=====*/

.title-sm {
    font-family: 'Heebo', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

.title-md {
    font-family: 'Heebo', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.title-lg {
    font-family: 'Heebo', sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
}

.paragraph-xs {
    font-family: 'Heebo', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.paragraph-sm {
    font-family:'Heebo', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}

.paragraph-md {
    font-family: 'Heebo', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.paragraph-lg {
    font-family: 'Heebo', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}

/*=====[[ UTILITARY ]]=====*/

.uBox-flex {
    display: flex;
    flex-wrap: wrap;
}

.uBox-flex.fullCentered {
    justify-content: center;
    align-items: center;
}

.uBox-flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.uBox-flexColumn.fullCentered {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*=====[[ COMPONENT ]]=====*/
.cBtn {
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-style: outset;
    border-image: initial;
    margin-bottom: 0;
    color: black;
    white-space: nowrap;
    cursor: pointer;
}

.imgResponsive {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*=====[[ NAVIGATION ]]=====*/

.navContainer {
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(0, 0, 0, .9);
    height: 5rem;
    /* position: fixed;
    z-index: 200;
    width: 100% */
}

.navContainer-item {

}

.navItem {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    height: 5rem;
}

.navItem-searchInput {
    font-family: 'Heebo', sans-serif;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    margin: 1.3rem 0 1.3rem 0;
}

.navItem-searchInput::placeholder {
    font-size: 1.4rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    text-align: center;
}

.navItem-btn {
    margin: 1.3rem 0 1.3rem 0;
}

.navItem-icon {
    width: 2rem;
}

.navItem-text {
    padding-left: 0.4rem;
    color: #16A085;
}

.navItem-profil {
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    height: 1.8rem;
}

/*=====[[ VIDEO ]]=====*/

.videoContainer {
    padding-left: 22%;
    padding-right: 22%;
    background-color: #000000;
}

/*=====[[ VIDEO ]]=====*/

.mainContainer {
    padding: 1rem 6rem;
}