/*=====[[ BASE ]]=====*/

body {
    margin: 0;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

/*=====[[ LAYOUT ]]=====*/

.mainContainer {
    padding-left: 9rem;
    padding-right: 9rem;
}
/*=====[[ TYPOGRAPHY ]]=====*/

.title-xxs {
    font-family: 'Heebo', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

.title-xs {
    font-family: 'Heebo', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

.title-sm {
    font-family: 'Heebo', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

.title-md {
    font-family: 'Heebo', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

.title-lg {
    font-family: 'Heebo', sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.paragraph-xxs {
    font-family: 'Heebo', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
}

.paragraph-xs {
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.paragraph-sm {
    font-family:'Heebo', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.paragraph-md {
    font-family: 'Heebo', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

.paragraph-lg {
    font-family: 'Heebo', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

/*=====[[ UTILITARY ]]=====*/

.uBox-flex {
    display: flex;
    flex-wrap: wrap;
}

.uBox-flex.fullCentered {
    justify-content: center;
    align-items: center;
}

.uBox-flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.uBox-flexColumn.fullCentered {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.uMargin-no {
    margin: 0;
}

.uMargin-bottom-sm {
    margin-bottom: 0.5rem;
}

.uMargin-bottom-md {
    margin-bottom: 0.8rem;
}

.uSpacing-border {
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
     width: 100%;
     border-bottom: 1px solid rgba(158, 155, 155, 0.4);
}

/*=====[[ COMPONENT ]]=====*/
.cBtn {
    font-family: 'Heebo', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-style: outset;
    border-image: initial;
    margin-bottom: 0;
    color: black;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    }

.cBtn-abonnement {
    background-color: #16A085;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #ffffff;
}

.cBtn-abonnement:hover {
    background-color: #FFFFFF;
    border: 1px solid #16A085;
    border-radius: 5px;
    color: #16A085 ;
}

/*Image du lien vers le profil --> <"conteneur"> --> <img> */
.imgProfil {
    border-radius: 50%;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    height: 1.8rem;
    width: 2rem;
    display: block;
    background-color: #000000;
}

/*Image responsive --> <"img"> */
.imgResponsive {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.collapseLink, .popoverLink {
    text-decoration: none;
    color: rgba(158, 155, 155);
    text-transform: uppercase;
}

/*=====[[ NAVIGATION ]]=====*/

.navContainer {
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(0, 0, 0, .9);
    height: 5rem;
    /* position: fixed;
    z-index: 200;
    width: 100% */
}

.navContainer-item {

}

.navItem {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    height: 5rem;
}

.navItem-searchInput {
    font-family: 'Heebo', sans-serif;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    margin: 1.3rem 0 1.3rem 0;
}

.navItem-searchInput::placeholder {
    font-size: 1.4rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    text-align: center;
}

.navItem-btn {
    margin: 1.3rem 0 1.3rem 0;
}

.navItem-icon {
    width: 2rem;
}

.navItem-text {
    padding-left: 0.4rem;
    color: #16A085;
}

.navItem-profilColor {
    background-color: #FFFFFF;
}

/*=====[[ VIDEO ]]=====*/

.videoContainer {
    background-color: #000000;
    margin-bottom: 2rem;
}

/*=====[[ COMMENTARY ]]=====*/

.contentContainer {
    justify-content: space-around;
}

.contentContainer-commentary {
    flex-grow: 1;
}

.contentContainer-videoChoice {
    width: 10rem;
}

.commentaryMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.commentaryMenu-info {
    align-items: center;
    justify-content: space-between;
}

.commentaryMenu-infoItem {
    padding-right: 1rem;
    align-items: center;
    text-decoration: none;
    color: rgba(158, 155, 155);
}

.commentaryMenu-hashtagLink {
    text-decoration: none;
    padding-right: 0.4rem;
    color: blue;
}

.commentaryMenu-img {
    width: 1.4rem;
    vertical-align: middle;
    padding-right: 0.6rem;
}

.commentaryMenu-infoLike {
    align-items: center;
    padding-right: 1rem;
    text-decoration: none;
    color: rgba(158, 155, 155);
}

.commentaryInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.commentaryInfo-title {
    justify-content: space-between;
}

.commentaryInfo-titleBox {
    text-decoration: none;
    color: #000000;
}

.commentaryInfo-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.commentaryView {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.commentaryView-item {
    padding-right: 1rem;
}

.commentaryView-img {
    width: 1.6rem;
}

.newCommentary-btn {
    display: none;
}

.newCommentary-btn:hover {
    background-color: rgba(22, 160, 133, 0.4);
    color:#FFFFFF;
}
